/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
}
span.rvts7
{
}
a.rvts8, span.rvts8
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts8:hover { color: #0000ff; }
span.rvts9
{
 font-weight: bold;
}
span.rvts10
{
 font-size: 12pt;
}
span.rvts11
{
 font-size: 12pt;
 font-weight: bold;
}
a.rvts12, span.rvts12
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts12:hover { color: #0000ff; }
a.rvts13, span.rvts13
{
 font-size: 16pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts13:hover { color: #0000ff; }
span.rvts14
{
 font-size: 16pt;
}
span.rvts15
{
 font-size: 12pt;
 font-style: italic;
}
span.rvts16
{
 font-size: 12pt;
 text-decoration: line-through;
}
span.rvts17
{
 font-size: 14pt;
}
span.rvts18
{
 font-size: 12pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts19
{
 font-size: 16pt;
 font-weight: bold;
 color: #ff0000;
}
a.rvts20, span.rvts20
{
 font-size: 16pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts20:hover { color: #0000ff; }
a.rvts21, span.rvts21
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts21:hover { color: #0000ff; }
span.rvts22
{
 font-size: 8pt;
}
a.rvts23, span.rvts23
{
 font-size: 8pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts23:hover { color: #0000ff; }
span.rvts24
{
 font-size: 8pt;
 color: #7f7f7f;
}
a.rvts25, span.rvts25
{
 font-size: 8pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts25:hover { color: #0000ff; }
span.rvts26
{
 font-size: 26pt;
}
a.rvts27, span.rvts27
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts27:hover { color: #00ccff; }
a.rvts28, span.rvts28
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts28:hover { color: #00ccff; }
a.rvts29, span.rvts29
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts29:hover { color: #00ccff; }
span.rvts30
{
 font-size: 8pt;
 color: #bfbfbf;
}
a.rvts31, span.rvts31
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts31:hover { color: #00ccff; }
a.rvts32, span.rvts32
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts32:hover { color: #0000ff; }
span.rvts33
{
 font-size: 14pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts34
{
 font-size: 18pt;
}
span.rvts35 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts36, span.rvts36 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts37
{
 font-size: 12pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts38
{
 font-size: 12pt;
 color: #ff0000;
}
span.rvts39
{
 font-size: 12pt;
 color: #6666ff;
}
span.rvts40
{
 font-size: 16pt;
 text-decoration: underline;
}
a.rvts41, span.rvts41
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts41:hover { color: #0000ff; }
a.rvts42, span.rvts42
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts42:hover { color: #0000ff; }
a.rvts43, span.rvts43
{
 font-size: 12pt;
 font-style: italic;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts43:hover { color: #0000ff; }
span.rvts44
{
 font-size: 12pt;
 text-decoration: underline;
}
span.rvts45
{
 font-size: 18pt;
 font-style: italic;
}
span.rvts46
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts47
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts48, span.rvts48
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts48:hover { color: #0000ff; }
span.rvts49
{
 font-size: 14pt;
 text-decoration: underline;
}
span.rvts50
{
 font-size: 14pt;
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts51
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts52
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts53
{
 font-size: 11pt;
}
span.rvts54
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts55, span.rvts55
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts55:hover { color: #0000ff; }
span.rvts56
{
 font-size: 24pt;
 font-weight: bold;
 color: #ff0000;
}
span.rvts57
{
 font-style: italic;
}
a.rvts58, span.rvts58
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts58:hover { color: #0000ff; }
a.rvts59, span.rvts59
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts59:hover { color: #0000ff; }
a.rvts60, span.rvts60
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts60:hover { color: #00ccff; }
a.rvts61, span.rvts61
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts61:hover { color: #00ccff; }
a.rvts62, span.rvts62
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts62:hover { color: #00ccff; }
a.rvts63, span.rvts63
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts63:hover { color: #00ccff; }
a.rvts64, span.rvts64
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts64:hover { color: #0000ff; }
a.rvts65, span.rvts65
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts65:hover { color: #00ccff; }
a.rvts66, span.rvts66
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts66:hover { color: #00ccff; }
a.rvts67, span.rvts67
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts67:hover { color: #00ccff; }
a.rvts68, span.rvts68
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts68:hover { color: #00ccff; }
a.rvts69, span.rvts69
{
 font-size: 14pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts69:hover { color: #0000ff; }
a.rvts70, span.rvts70
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts70:hover { color: #0000ff; }
a.rvts71, span.rvts71
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts71:hover { color: #0000ff; }
a.rvts72, span.rvts72
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts72:hover { color: #00ccff; }
a.rvts73, span.rvts73
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts73:hover { color: #00ccff; }
a.rvts74, span.rvts74
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts74:hover { color: #00ccff; }
a.rvts75, span.rvts75
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts75:hover { color: #00ccff; }
a.rvts76, span.rvts76
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts76:hover { color: #0000ff; }
a.rvts77, span.rvts77
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts77:hover { color: #0000ff; }
a.rvts78, span.rvts78
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts78:hover { color: #00ccff; }
a.rvts79, span.rvts79
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts79:hover { color: #00ccff; }
a.rvts80, span.rvts80
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts80:hover { color: #00ccff; }
a.rvts81, span.rvts81
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts81:hover { color: #00ccff; }
span.rvts82
{
 font-size: 12pt;
}
span.rvts83
{
 font-size: 18pt;
}
span.rvts84
{
 font-size: 14pt;
 font-family: 'Cordia New';
}
span.rvts85
{
 font-size: 14pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
span.rvts86
{
 font-size: 12pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
}
a.rvts87, span.rvts87
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts87:hover { color: #0000ff; }
a.rvts88, span.rvts88
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts88:hover { color: #00ccff; }
a.rvts89, span.rvts89
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts89:hover { color: #00ccff; }
a.rvts90, span.rvts90
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts90:hover { color: #00ccff; }
a.rvts91, span.rvts91
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts91:hover { color: #00ccff; }
span.rvts92
{
 font-size: 8pt;
 vertical-align: super;
}
span.rvts93
{
 font-size: 20pt;
}
span.rvts94
{
 font-size: 12pt;
 font-weight: bold;
 color: #00b050;
}
span.rvts95
{
 font-size: 12pt;
 font-weight: bold;
 color: #2f6b55;
}
span.rvts96
{
 font-size: 12pt;
 font-weight: bold;
 text-decoration: line-through;
}
span.rvts97
{
 font-size: 12pt;
 font-weight: bold;
 color: #ffc000;
}
span.rvts98
{
 font-size: 12pt;
 font-weight: bold;
 color: #0070c0;
}
span.rvts99
{
 font-size: 12pt;
 font-weight: bold;
 color: #ff8040;
}
span.rvts100
{
 font-size: 18pt;
 color: #ff0000;
}
span.rvts101
{
 font-size: 12pt;
 color: #3333ff;
}
span.rvts102
{
 font-size: 12pt;
 color: #b96666;
}
a.rvts103, span.rvts103
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts103:hover { color: #0000ff; }
a.rvts104, span.rvts104
{
 font-size: 8pt;
 color: #99ccff;
 text-decoration: underline;
}
a.rvts104:hover { color: #00ccff; }
a.rvts105, span.rvts105
{
 font-size: 8pt;
 color: #c0c0c0;
 text-decoration: underline;
}
a.rvts105:hover { color: #00ccff; }
a.rvts106, span.rvts106
{
 font-size: 8pt;
 color: #969696;
 text-decoration: underline;
}
a.rvts106:hover { color: #00ccff; }
a.rvts107, span.rvts107
{
 font-size: 8pt;
 color: #808080;
 text-decoration: underline;
}
a.rvts107:hover { color: #00ccff; }
span.rvts108
{
 font-size: 12pt;
 color: #190000;
}
span.rvts109
{
 font-size: 12pt;
 font-weight: bold;
 color: #190000;
}
span.rvts110
{
 font-size: 18pt;
 color: #00b050;
}
span.rvts111
{
 font-size: 18pt;
 color: #2f6b55;
}
span.rvts112
{
 font-size: 18pt;
 color: #00a5ff;
}
span.rvts113
{
 font-size: 14pt;
}
span.rvts114
{
 font-size: 16pt;
}
a.rvts115, span.rvts115
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts115:hover { color: #0000ff; }
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
}
.rvps3
{
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 border-color: #008000;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
}
.rvps6
{
 text-align: center;
}
.rvps7
{
 margin: 0px 0px 0px 24px;
}
.rvps8
{
 margin: 0px 0px 0px 48px;
}
.rvps9
{
 border-color: #008000;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 24px;
}
.rvps10
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
}
.rvps11
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
}
.rvps12
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 border-color: #000000;
 border-style: double;
 border-width: 4px;
 margin: 0px 0px 0px 21px;
}
.rvps14
{
 border-color: #ff0000;
 border-style: solid;
 border-width: 2px;
 margin: 0px 0px 0px 23px;
}
.rvps15
{
 border-color: #339966;
 border-style: solid;
 border-width: 2px;
 margin: 0px 0px 0px 23px;
}
.rvps16
{
 border-color: #339966;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 18px;
}
.rvps17
{
 border-color: #008000;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 18px;
}
.rvps18
{
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 padding: 5px 5px 5px 5px;
}
.rvps19
{
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 24px;
}
.rvps20
{
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 15px;
}
.rvps21
{
 border-color: #008000;
 border-style: solid;
 border-width: 3px;
 padding: 5px 5px 5px 5px;
 margin: 2px 2px 2px 17px;
}
.rvps22
{
 border-color: #008000;
 border-style: solid;
 border-width: 3px;
 padding: 5px 5px 5px 5px;
 margin: 2px 2px 2px 26px;
}
.rvps23
{
 border-color: #008000;
 border-style: solid;
 border-width: 3px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 23px;
}
.rvps24
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 3px;
 padding: 5px 5px 5px 5px;
}
.rvps25
{
 border-color: #008000;
 border-style: solid;
 border-width: 1px;
 padding: 5px 5px 5px 5px;
}
.rvps26
{
 border-color: #008000;
 border-style: solid;
 border-width: 1px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 24px;
}
.rvps27
{
 border-color: #008000;
 border-style: solid;
 border-width: 3px;
 padding: 5px 5px 5px 5px;
 margin: 0px 0px 0px 22px;
}
.rvps28
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
}
.rvps29
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 margin: 0px 0px 0px 24px;
}
.rvps30
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 margin: 0px 0px 0px 48px;
}
.rvps31
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 margin: 0px 0px 0px 72px;
}
.rvps32
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 margin: 0px 0px 0px 96px;
}
.rvps33
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 5px;
 padding: 5px 5px 5px 5px;
}
.rvps34
{
 text-align: center;
 border-color: #000000;
 border-style: solid;
 border-width: 5px;
 padding: 5px 5px 5px 5px;
}
.rvps35
{
 text-align: center;
 border-color: #008000;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
 margin: 3px 3px 3px 3px;
}
.rvps36
{
 border-color: #008000;
 border-style: solid;
 border-width: 3px;
 padding: 5px 5px 5px 5px;
}
.rvps37
{
 border-color: #008000;
 border-style: solid;
 border-width: 1px;
}
.rvps38
{
 border-color: #008000;
 border-style: solid;
 border-width: 2px;
 padding: 5px 5px 5px 5px;
 margin: 3px 3px 3px 3px;
}
.rvps39
{
 text-align: center;
}
